<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img class="imgL" src="assets/img/logo.png" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content color="fundo" padding>
    <ion-title class="titulo">
        Meus pedidos
      </ion-title>

  <ion-list>
    <ion-item color="fundo">
      <ion-label>Exibir todos os pedidos</ion-label>
      <ion-checkbox color="dark" slot="end" (ionChange)="executarBusca($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let pedido of pedidos | async" [routerLink]="['/pedido/produtos', pedido.key]">
      <ion-label>
        <h1>Pedido {{ pedido.numero }}</h1>

        <div margin-vertical>
          <div><b>Valor total:</b>
            <app-valor [valor]="pedido.total"></app-valor>
          </div>
          <div>
            <b>{{ getFormaPagamentoNome(pedido.formPagamento) }}: </b>
            <span *ngIf="pedido.formPagamento == 1">Troco para: {{ pedido.trocoPara || 0 | currency:'BRL' }}</span>
            <span text-wrap *ngIf="pedido.formPagamento == 2">{{ pedido.tipoCartao }}</span>
          </div>
          <div>
            <b>Data:</b> {{ pedido.data }}
          </div>
          <div>
            <b>Status: {{ getStatusNome(pedido.status) }}</b>
          </div>
        </div>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" style="margin-bottom: 120px;" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logar()" color="primary">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50px;" slot="fixed" click="">
    <ion-fab-button (click)="comprar()" color="secondary">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>