// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FED3FE;
  --ion-color-primary-rgb: 254,211,254;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0bae0;
  --ion-color-primary-tint: #fed7fe;

  --ion-color-secondary: #faebf0;
  --ion-color-secondary-rgb: 250,235,240;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dccfd3;
  --ion-color-secondary-tint: #fbedf2;

  --ion-color-tertiary: #E4CBE0;
  --ion-color-tertiary-rgb: 228,203,224;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c9b3c5;
  --ion-color-tertiary-tint: #e7d0e3;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  
}

:root {
  --ion-color-fundo: #edeaf7;
  --ion-color-fundo-rgb: 237,234,247;
  --ion-color-fundo-contrast: #000000;
  --ion-color-fundo-contrast-rgb: 0,0,0;
  --ion-color-fundo-shade: #d1ced9;
  --ion-color-fundo-tint: #efecf8;
}

.ion-color-fundo {
  --ion-color-base: var(--ion-color-fundo);
  --ion-color-base-rgb: var(--ion-color-fundo-rgb);
  --ion-color-contrast: var(--ion-color-fundo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fundo-contrast-rgb);
  --ion-color-shade: var(--ion-color-fundo-shade);
  --ion-color-tint: var(--ion-color-fundo-tint);
}

:root {
font-family: 'Pristina';
}