<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Pristina'; font-size: 37px; margin-bottom: -8px;">
      <img class="imgL" src="assets/img/logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <ion-content padding color="fundo">
    <ion-card color="fundo">
      <ion-list color="fundo">
        <ion-item color="fundo" *ngFor="let item of itensPedido| async">
          <ion-label text-wrap>
            <h1>{{ item.produtoNome }}</h1>
            <pre *ngIf="item.produtoDescricao" text-wrap>{{ item.produtoDescricao }}</pre>
            <pre *ngIf="item.observacao" text-wrap>{{ item.observacao }}</pre>
            <p>Preço: <app-valor [valor]="item.produtoPreco"></app-valor>
            </p>
            <p>Total: <app-valor [valor]="item.total"></app-valor>
            </p>

            <ion-grid color="fundo">
              <ion-row align-items-center>
                <ion-col>
                  <ion-button expand="block" color="primary" (click)="adicionarQuantidade(item)">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col text-center>
                  {{ item.quantidade }}
                </ion-col>
                <ion-col>
                  <ion-button expand="block" color="primary" (click)="removerQuantidade(item)">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    
    <ion-card>
      <ion-list color="fundo">
        <ion-item color="fundo" *ngFor="let itensProdutos of itensPedido| async">
          <ion-label text-wrap>
            <p>{{ itensProdutos.montagemMassa }}</p>
            <p>{{ itensProdutos.montagemRecheio }}</p>
            <p>{{ itensProdutos.montagemCobertura }}</p>
            <p>{{ itensProdutos.montagemDecoracao }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>


    <p color="secondary" padding-horizontal=text-left><b>Total do pedido: </b>
      <app-valor [valor]="total"></app-valor>
    </p>

    <ion-button expand="block" size="large" [routerLink]="['/form-pagamento']">
      Forma de pagamento
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50px;" slot="fixed">
      <ion-fab-button [routerLink]="['/perfil']" color="primary">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>