<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Pristina'; font-size: 37px; margin-bottom: -8px;">
      <img class="imgL" src="assets/img/logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <div>
    <img class="img" src="assets/img/bolo-rosa1.jpg" />
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="produtos()"><img class="img" src="assets/img/prontos.png" /></div>
      </ion-col>
      <ion-col>
        <div (click)="monte()"><img class="img" src="assets/img/bolo.png" /></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div (click)="oferta()">
    <img class="img" src="assets/img/kinder1.png" />
  </div>


  <ion-fab vertical="bottom" style="margin-bottom: 120px;" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logar()" color="primary">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50px;" slot="fixed" click="">
    <ion-fab-button (click)="comprar()" color="secondary">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>